:host {
  display: block;
  flex: 1;
  width: 100%;
  min-height: 100%;
}
.products-page {
  width: 100%;
  min-height: 100%;
  height: auto;
  padding: 0;
  display: flex;
  .products-filters {
    width: 20%;
    height: auto;
    border: 1px solid red;
    padding: 10px;
    margin:8px
  }
  .products-list {
    width: 80%;
    height: auto;
    border: 1px solid blue;
    padding: 10px;
    margin:8px
  }
}
