.main-footer {
  background-color: var(--my-primary-700);
  color: white;
  .footer-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    padding: 60px 40px;
    max-width: 1400px;
    margin: 0 auto;
  }

  .footer-title {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 16px;
  }

  .social-links {
    display: flex;
    gap: 16px;
    cursor: pointer;
    a {
      color: white;
      text-decoration: none;
      cursor: pointer;
    }
    a:hover {
      color: var(--my-secondary-500);
      transform: scale(1.1);
      transition: all 0.3s ease;
    }
  }

  .footer-links {
    list-style: none;
    li {
      margin-bottom: 3px;
      cursor: pointer;
      a {
        color: white;
        text-decoration: none;
      }
    }
    li:hover {
      text-decoration: underline;
    }
  }

  .footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    .footer-legal {
      display: flex;
      gap: 16px;
      a {
        color: white;
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
    }
  }
}
